.navbar {
    z-index: 1000;
    padding: 15px 0px !important;
}
.navbar-nav {
    margin-left: auto;
}
.nav-link {
    margin-left: 100px !important;
    transition: all 0.2s ease-in-out;
    margin: 2px 5px 20px 10px ;
}
.nav-link:hover {
    font-weight: bold;
}
.me-auto {
    margin: unset !important;
}
.active-link {
    text-decoration: none;
    color: red;
    font-weight: bolder;
}

@media (max-width: 991px) {
    .nav-link {
        margin-left: 0 !important;
        margin-right: 0 !important;
        text-align: center;
        padding: 10px;
    }
    
    .navbar-nav {
        flex-direction: column;
        align-items: center;
    }
}